In [1]:
import pandas as pd


cm1_data = pd.read_csv("cm1.csv", header=None)

In [2]:
cm1_data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,False
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1,1,1,1,1.0,1.0,1.0,1.0,1.0,True
2,24.0,5.0,1.0,3.0,63.0,309.13,0.11,9.50,32.54,2936.77,...,1,0,6,0,15.0,15.0,44.0,19.0,9.0,False
3,20.0,4.0,4.0,2.0,47.0,215.49,0.06,16.00,13.47,3447.89,...,0,0,3,0,16.0,8.0,31.0,16.0,7.0,False
4,24.0,6.0,6.0,2.0,72.0,346.13,0.06,17.33,19.97,5999.58,...,0,0,3,0,16.0,12.0,46.0,26.0,11.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,47.0,3.0,1.0,3.0,256.0,1563.78,0.04,28.00,55.85,43785.90,...,2,13,2,0,23.0,46.0,144.0,112.0,5.0,True
494,24.0,4.0,3.0,3.0,107.0,587.63,0.05,19.13,30.72,11241.58,...,1,7,4,0,22.0,23.0,67.0,40.0,7.0,True
495,82.0,11.0,3.0,10.0,475.0,3155.83,0.02,44.71,70.59,141084.24,...,9,59,35,0,32.0,68.0,285.0,190.0,21.0,True
496,10.0,2.0,1.0,1.0,32.0,150.41,0.15,6.50,23.14,977.69,...,1,12,4,0,13.0,13.0,19.0,13.0,3.0,True
497,28.0,6.0,5.0,5.0,104.0,564.33,0.06,16.09,35.08,9078.38,...,2,7,0,0,20.0,23.0,67.0,37.0,11.0,True

In [3]:
cm1_n_row, cm1_n_column = cm1_data.shape
cm1_columns = ["X{}".format(i) for i in range(0, cm1_n_column-1)] + ["y"]
cm1_data.columns = cm1_columns
cm1_data["y"] = cm1_data["y"].apply(lambda x: 1 if x == True else 2)
cm1_columns = cm1_columns[-1:] + cm1_columns[:-1]
cm1_data = cm1_data[cm1_columns]

In [4]:
cm1_data

,y,X0,X1,X2,X3,X4,X5,X6,X7,X8,...,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20
0,2,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,...,1.30,2,2,2,2,1.2,1.2,1.2,1.2,1.4
1,1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,...,1.00,1,1,1,1,1.0,1.0,1.0,1.0,1.0
2,2,24.0,5.0,1.0,3.0,63.0,309.13,0.11,9.50,32.54,...,163.15,1,0,6,0,15.0,15.0,44.0,19.0,9.0
3,2,20.0,4.0,4.0,2.0,47.0,215.49,0.06,16.00,13.47,...,191.55,0,0,3,0,16.0,8.0,31.0,16.0,7.0
4,2,24.0,6.0,6.0,2.0,72.0,346.13,0.06,17.33,19.97,...,333.31,0,0,3,0,16.0,12.0,46.0,26.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,1,47.0,3.0,1.0,3.0,256.0,1563.78,0.04,28.00,55.85,...,2432.55,2,13,2,0,23.0,46.0,144.0,112.0,5.0
494,1,24.0,4.0,3.0,3.0,107.0,587.63,0.05,19.13,30.72,...,624.53,1,7,4,0,22.0,23.0,67.0,40.0,7.0
495,1,82.0,11.0,3.0,10.0,475.0,3155.83,0.02,44.71,70.59,...,7838.01,9,59,35,0,32.0,68.0,285.0,190.0,21.0
496,1,10.0,2.0,1.0,1.0,32.0,150.41,0.15,6.50,23.14,...,54.32,1,12,4,0,13.0,13.0,19.0,13.0,3.0
497,1,28.0,6.0,5.0,5.0,104.0,564.33,0.06,16.09,35.08,...,504.35,2,7,0,0,20.0,23.0,67.0,37.0,11.0

In [5]:
cm1_data.to_csv('new_cm1.csv', encoding='utf-8', index=False, header=False)